@charset "utf-8";

.mainVisual{
	text-align: center;
	padding: 85px 0 35px;
	background-color: rgba(184, 212, 0, 0.2);

	background-image:url("../img/clover.svg");
	background-size:50px 50px;
	background-repeat: no-repeat;
	background-position: center 35px;
}

.mainVisual h2{
	font-size: 3rem;
	font-weight: bold;
	color: #b9d400;
}

.mainVisual span{
	font-size: 0.9rem;
}