@charset "utf-8";

.tblBasic{
  width: 700px;
  margin: 0 auto;
}

.tblBasic th,
.tblBasic td{
  padding: 10px 15px;
}

.tblBasic th{
  border-bottom: 3px solid #b9d400;
  min-width: 140px;
}

.tblBasic td{
  border-bottom: 1px solid #ccc;
}