@charset "utf-8";

.tblBasic{
  margin: 0 auto;
  width: 700px;
}

.tblBasic th,
.tblBasic td{
  padding: 10px 15px;
}

.tblBasic th{
  border-bottom: 3px solid #b9d400;
	  min-width: 140px;
}

.tblBasic td{
  border-bottom: 1px solid #ccc;
}

/* tablet */
@media screen and (max-width: 768px){
  .tblBasic{
	width: 100%;
	max-width: 700px;
  }
  .tblBasic th{
    min-width: 100px;
  }
}
/* SP */
@media screen and (max-width: 414px){
  .tblBasic th{
    border-bottom: 1px solid #eee;
    display: block;
  }
  .tblBasic td{
    border-bottom: 1px solid #b9d400;
    display: block;
  }
}